<h1>Welcome to StreamTube!</h1>
<p>Hi {{ email }},</p>
<p>Please confirm your email address by clicking the link below:</p>
<p><a href="{{ confirmationUrl }}">Confirm Email</a></p>
<p>This link will expire in 24 hours.</p>
<p>If you did not create an account, please ignore this email.</p>
